<div class="container">
    <h1 class="margin-bottom-25">Recipe Categories</h1>

	<div class="row margin-bottom-10" ng-repeat="vm in categories">
		<div class="col-md-7 col-xs-12">
			<div class="row category-container">
				<div name="categoryForm" ng-form class="col-xs-11" ng-class="{ 'has-error': categoryForm.name.$invalid }">
					<input type="text" name="name" class="form-control" ng-model="vm.model.name" placeholder="Category Name" ng-blur="vm.onEditCompleted()" fm-sync-focus-with="vm.isFocused" required />
				</div>
				<div class="col-xs-1">
					<span class="fa fa-trash fa-lg icon-button left margin-top-15" ng-click="vm.delete()"></span>
				</div>
			</div>
		</div>
	</div>

	<a class="btn btn-default margin-top-15 margin-right-25" ng-click="addCategory()">+ Add New</a>
	<a class="btn btn-default margin-top-15" href="/">Done</a>
</div>