<div>
    <h3>Create a New Recipe</h3>

	<div ng-form name="recipeForm">
	    <div class="form-group" ng-class="{ 'has-error': recipeForm.name.$invalid }">
    		<label for="name">Recipe Name:</label>
	      	<input type="text" class="form-control" name="name" ng-model="model.name" required />
	    </div>

	    <div class="form-group" ng-class="{ 'has-error': recipeForm.description.$invalid }">
    		<label for="description">Description:</label>
	      	<textarea class="form-control" name="description" ng-model="model.description" required></textarea>
	    </div>

	    <div class="form-group" ng-class="{ 'has-error': recipeForm.prepTime.$invalid }">
    		<label for="prepTime">Prep Time:</label>
	      	<input type="number" class="form-control max-width-100" name="prepTime" ng-model="model.prepTime" required />
	    </div>

	    <div class="form-group" ng-class="{ 'has-error': recipeForm.cookTime.$invalid }">
    		<label for="cookTime">Cook Time:</label>
	      	<input type="number" class="form-control max-width-100" name="cookTime" ng-model="model.cookTime" required />
	    </div>

	    <div class="form-group max-width-300" ng-class="{ 'has-error': recipeForm.categories.$invalid }">
    		<label for="categories">Categories:</label>
		    <select name="categories" class="form-control" chosen multiple data-placeholder="Choose a category [optional]" ng-model="model.categories" ng-options="c.name for c in categories"></select>
	    </div>
  	</div>

  <a class="btn btn-default" ng-click="create()">Create</a>
</div>