<div class="container">
    <h2>{{title()}}</h2>

	<div ng-form name="recipeForm">
	    <div class="form-group margin-top-50" ng-class="{ 'has-error': recipeForm.name.$invalid }">
    		<label for="name">Recipe Name:</label>
	      	<input type="text" class="form-control" name="name" ng-model="model.name" required />
	    </div>

	    <div class="form-group margin-top-25" ng-class="{ 'has-error': recipeForm.description.$invalid }">
    		<label for="description">Description:</label>
	      	<textarea class="form-control" name="description" ng-model="model.description"></textarea>
	    </div>

	    <div class="form-group margin-top-25" ng-class="{ 'has-error': recipeForm.prepTime.$invalid }">
    		<label for="prepTime">Prep Time:</label>
	      	<input type="number" class="form-control max-width-100" name="prepTime" ng-model="model.prepTime" />
	    </div>

	    <div class="form-group margin-top-25" ng-class="{ 'has-error': recipeForm.cookTime.$invalid }">
    		<label for="cookTime">Cook Time:</label>
	      	<input type="number" class="form-control max-width-100" name="cookTime" ng-model="model.cookTime" />
	    </div>

	    <div class="form-group margin-top-25" ng-class="{ 'has-error': recipeForm.instructions.$invalid }">
	    	<label for="instructions">Ingredients:</label>
	    	<span class="icon-button fa fa-plus fa-lg margin-left-25" ng-click="addIngredient()"/>
	      	<div class="row margin-top-10 ingredient-container" ng-repeat="ingredient in model.ingredients">
	      		<div class="col-xs-11">
      				<div class="row">
						<div class="col-xs-12 col-md-7 margin-bottom-10"><input type="text" class="form-control" ng-model="ingredient.item.name"/></div>
			      		<div class="col-xs-11 col-md-4 margin-bottom-10">
			      			<span class="vcenter">Quantity:</span>
			      			<input type="text" class="form-control max-width-75 margin-left-10 vcenter" ng-model="ingredient.quantity"/>
			      			<div class="vcenter margin-left-10 max-width-100">
			      				<select chosen="{inherit_select_classes:true}" class="select-units" data-placeholder="Units" ng-options="unit for unit in units" ng-model="ingredient.units"/>
			      			</div>
			      		</div>
      				</div>
	      		</div>
	      		<div class="col-xs-1"><span class="icon-button fa fa-trash fa-lg right margin-top-10" ng-click="removeIngredient(ingredient)"/>
	      	</div>
	    </div>

	    <div class="form-group margin-top-25" ng-class="{ 'has-error': recipeForm.instructions.$invalid }">
    		<label for="instructions">Instructions:</label>
	      	<textarea class="form-control min-height-150" name="instructions" ng-model="model.instructions"></textarea>
	    </div>

	    <div class="form-group max-width-300 margin-top-25" ng-class="{ 'has-error': recipeForm.categories.$invalid }">
    		<label for="categories">Categories:</label>
		    <select name="categories" class="form-control" chosen multiple data-placeholder="Choose a category [optional]" ng-model="model.categories" ng-options="c.name for c in categories"></select>
	    </div>

	    <div class="form-group margin-top-25">
    		<label for="image">Image:</label>
  			<input type="text" name="image" class="form-control" ng-model="model.image"/>
	    </div>
  	</div>

  <a class="btn btn-default" ng-click="save()">Save</a>
  <a class="btn btn-default margin-left-25" ng-click="cancel()">Cancel</a>
</div>