<div class="margin-top-25">    
    <div class="row">
    	<div class="col-md-4">
	  		<img class="recipe-image-lg" src="/assets/data/default-recipe.jpg"/>
	  	</div>
  		<div class="col-md-8">
  			<div class="margin-top-10 margin-bottom-10 row">
  				<div class="col-md-8">
  					<h1>{{model.name}}</h1>
		    		<div><i>{{model.description}}</i></div>

				    <div class="margin-top-25">
				    	<a class="btn btn-xs btn-primary margin-right-10" ng-repeat="category in model.categories">{{category.name}}</a>
				    </div>
				</div>
				<div class="col-md-4">
					<h3>Cook Time</h3>
					<span ng-cloak>{{model.cookTime || 0}} mins</span>
					<h3 class="margin-top-25">Prep Time</h3>
					<span ng-cloak>{{model.PrepTime || 0}} mins</span>
				</div>
  			</div>
  		</div>
  	</div>

  	<h2 class="margin-top-50">Ingredients</h2>
  	<div ng-repeat="ingredient in model.ingredients">
  		<span>{{ingredient.quantity}} {{ingredient.units}} {{ingredient.item.name}}</span>
  	</div>

  	<h2 class="margin-top-50">Instructions</h2>
    <p>{{model.instructions}}</p>
</div>